.og-viewing-move-column {
	height: 100%;

	.og-page-column {
		min-height: 45%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.og-viewings-page-column {
		p {
			padding-left: 5%;
			font-size: 1rem;
		}
	}

	.og-move-page-column {
		max-height: 55%;

		p {
			padding-left: 5%;
			font-size: 1rem;
		}
	}
}

.og-meetings-column {
	padding-right: 2%;
	padding-left: 2%;

	.og-meetings-page-column {
		max-height: 80%;

		p {
			padding-left: 5%;
			font-size: 1rem;
		}
	}
}

.og-home-page-contents {
	height: 100%;
}

.og-room-bookings-contents {
	padding-left: 4%;
}
