.og-qr-card {
	background-color: white;
	border-radius: 8px;
	margin-right: 20%;
	margin-left: 0%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 85px;
	align-items: center;

	.og-qr-card-title {
		font-size: large;
		font-weight: 400px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.og-qr-card-time {
		font-size: medium;
		font-weight: 400px;
	}

	.og-qr-card-qr-column {
		justify-content: center;
		display: flex;
		height: 42%;
	}

	.og-qr-card-qr-wrapper {
		background-color: #545f71;
		width: 57%;
		max-width: 38px;
		border-radius: 8px;
		justify-content: center;
		display: flex;

		.bi-qr-code {
			color: white;
			align-self: center;
			font-size: 14px;
		}
	}
}
